@charset 'utf-8';

html {
    font-family: 'Electrolize', sans-serif;
    font-size: 14px;
    width: 100%;
}
body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    margin: 0;
    width: 100%;
}
p { 
    line-height: 1.6;
    color: rgb(195, 195, 201);
}
a {
	color: rgb(104, 104, 106);
	text-decoration: none;
}
li { 
    line-height: 2;
    text-align: center;
    color: rgb(195, 195, 201);
}
body.before-load {
    overflow: hidden;
}
.container {
    /* 모바일에서 가로 스크롤 방지 */
    overflow-x: hidden;
}
.global-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 44px;
    padding: 0 1rem;
}
.local-nav {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #ddd;
}
.local-nav-sticky .local-nav {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    /* for iPhone */
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    -moz-backdrop-filter: saturate(180%) blur(15px);
    -o-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
}
.global-nav-links,
.local-nav-links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.global-nav-links {
    font-weight: bold;
    justify-content: space-between;
}
.local-nav-links .product-name {
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 30px #fff;
    padding-left: 10rem;
    animation: flicker 1.5s infinite alternate;
}
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff;
    }
    20%,
    24%,
    55% {
        text-shadow: none;
  }
}
.local-nav-links {
    margin-bottom: 0;
    margin-right: 1rem;
	font-size: 0.5rem;
}
.local-nav-links a:not(.product-name) {
	margin-left: 0.5rem;
}
.scroll-section {
    position: relative;
    padding-top: 50vh;
}
#scroll-section-0 h1 {
    position: relative;
    top: -10vh;
    z-index: 5;
    font-size: 4rem;
    text-align: center;
}
#scroll-section-2 h2 {
    position: relative;
    /* top: -10vh; */
    z-index: 6;
    font-size: 6rem;
    text-align: center;
}
.mid-message strong {
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 30px #fff;
    font-size: 2.5rem;
}
.mid-message {
    max-width: 800px;
    margin: 0 3rem;
    font-size: 1.5rem;
    justify-content: center;
    color: #888;
}
.no-message-box {
    position: relative;
    margin: 0;
    padding: 0;
}
.no-message strong {
    color: rgb(173, 173, 178);
    font-size: 2rem;
    padding-top: 0;
}
#scroll-section-4 {
    position: relative;
    margin: auto;
}
#scroll-section-5 {
    position: relative;
    max-width: 800px;
    height: 100%;
}
.question-box {
    position: relative;
    width: 90%;
    height: 1000px;
    margin: 0 1.5rem;
    color: #ccc;
}
.answer {
    display: none;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;
}
#faq-title {
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 30px #fff;
    font-size: 2.5rem;
    margin: 0 3rem;
}
.faq-content {
    font-size: 1rem;
    margin: 2rem 3rem;
    border-bottom: 0.5px solid white;
}
#span {
    text-align: center;
}
.question {
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}
.question:hover {
    color: white;
  }
  [id$="-toggle"] {
    margin-right: 15px;
  }
.canvas-caption {
    max-width: 100%;
    margin: -30rem auto 0;
    color: #888;
    font-size: 1.2rem;
    padding: 0 2rem;
}
.footer {
    display: flex;
    margin-top: 30rem;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background: rgb(141, 139, 139);
}
.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    max-width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem,
#show-scene-4 #scroll-section-4 .sticky-elem,
#show-scene-5 #scroll-section-5 .sticky-elem,
#show-scene-6 #scroll-section-6 .sticky-elem,
#show-scene-7 #scroll-section-7 .sticky-elem,
#show-scene-8 #scroll-section-8 .sticky-elem{
    display: block;
    will-change: transform, opacity;
}
.sticky-elem-canvas {
    top: 0;
    height: 100%;
}
.sticky-elem-canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: white;
    opacity: 0;
    transition: 0.5s;
}

.before-load .loading {
    opacity: 1;
}
@keyframes loading-spin {
    100% { transform: rotate(360deg);}
}
@keyframes loading-circle-ani {
    0% { stroke-dashoffset: 157;} 
    75% { stroke-dashoffset: -147;}
    100% { stroke-dashoffset: -157;}
}
.loading-circle {
    width: 54px;
    height: 54px;
    animation: loading-spin 3s infinite;
}

.loading-circle circle {
    stroke: rgb(33, 189, 221);
    /* 로딩 테두리 선 */
    stroke-width: 4;
    stroke-dasharray: 157;
    stroke-dashoffset: -157;
    fill: transparent;
    animation: loading-circle-ani 1s infinite;
    /* transition: 1s; */
}
.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.video-container video {
    position: absolute;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
}
.slider{
    height: 300px;
    margin-top: 0;
    position: relative;
    width: 100%;
    display: flex;
    place-items: center;
    overflow: hidden;
}
.slide-track {
    display: flex;
    width: calc(250px * 30);
    animation: scroll 35s linear infinite;
    /* slide track width = 슬라이드 개수 x 슬라이드 width */
}
.slide-track:hover{
    animation-play-state: paused;
}
.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide img {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    transition: transform 1s;
}
.slide img:hover {
    cursor: pointer;
    transform: translateZ(15px);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
}

/* gradient shadows */

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(23, 22, 22, 0.598) 0%, rgba(121, 119, 119, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 9;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider-rtl{
    height: 300px;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    display: flex;
    place-items: center;
    overflow: hidden;
}
.slide-rtl {
    display: flex;
    width: calc(250px * 30);
    animation: scroll 35s linear infinite;
    animation-direction: reverse;
    /* slide track width = 슬라이드 개수 x 슬라이드 width */
}
.slide-rtl:hover {
    animation-play-state: paused;
}
.rtl {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.rtl img {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    transition: transform 1s;
}
.rtl img:hover {
    cursor: pointer;
    transform: translateZ(15px);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
}

/* gradient shadows */

.slider-rtl::before,
.slider-rtl::after {
    background: linear-gradient(to right, rgba(23, 22, 22, 0.598) 0%, rgba(121, 119, 119, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 9;
}
.slider-rtl::before {
    left: 0;
    top: 0;
}
.slider-rtl::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slide-box{
    height: 355px;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    place-items: center;
    overflow: hidden;
}
.slide-message strong {
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 30px #fff;
    font-size: 2.5rem;
    padding: 5rem;
    

}
.slide-mbits {
    display: flex;
    width: calc(300px * 30);
    animation: scroll 30s linear infinite;
    /* slide track width = 슬라이드 개수 x 슬라이드 width */
}
.slide-mbits:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 15));
        /* 트랙 왼쪽으로 반만큼 움직임 */
    }
} 
.mbits {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.mbits img {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    transition: transform 1s;
}
.mbits img:hover {
    cursor: pointer;
    transform: translateZ(15px);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
}
/* gradient shadows */

.slide-box::before,
.slide-box::after {
    background: linear-gradient(to right, rgba(23, 22, 22, 0.598) 0%, rgba(121, 119, 119, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 9;
}
.slide-box::before {
    left: 0;
    top: 0;
}
.slide-box::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
@media (min-width: 1024px) {
    .local-nav-links {
        margin: 0 auto;
        justify-content: center;
    }
    .local-nav-links a:not(.product-name){
        margin-left: 1.5vw;
    }
    .local-nav-links .product-name {
        text-align: center;
        font-size: 3vw;
        letter-spacing: 0.1vw;
    }
    #scroll-section-0 h1 {
        font-size: 9vw;
    }
    .video-container {
        width: 100%;
        height: 100%;
    }
    .video {
        margin-bottom: 50vw;
    }
    #scroll-section-3 h3 {
        font-size: 2vw;
    }
    .mid-message{
        width: 1000px;
        margin: 0 auto;
        font-size: 2vw;
        justify-content: center;
    }
    .mid-message strong {
        font-size: 3.5vw;
    }
    .no-message-box{
        width: 1000px;
        padding: 0;
        font-size: 4vw;
    }
    .no-message{
        width: 1000px;
        padding: 0;
        font-size: 4vw;
    }
    .slide-message strong {
        font-size: 4vw;
        margin-left: 6vw;
    }
    .question-box {
        width: 80%;
        margin-left: 8vw;
        justify-content: center;
        font-size: 4vw;
    }
    #faq-title {
        font-size: 4vw;
    }
    .faq-content {
        font-size: 2vw;
    }
    .question {
        font-size: 1.5svw;
    }
    .answer {
        font-size: 2vw;
        padding-left: 2vw;
        margin: 1vw auto;
    }
}